@import './loading.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #1b324f;
  }
  html {
    scroll-behavior: smooth;
  }
}

.tiptap-custom-menubar button {
  border: 1px solid black;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 4px;
}
.tiptap-custom-menubar button.is-active {
  border: 1px solid #15af7c;
  padding: 5px;
  margin: 5px;
  background: #15af7c;
  color: white;
}

.onbai-editor {
  min-height: 64px;
}

/* Hidden arrow number input */
/* Chrome, Safari, Edge, Opera */
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.no-arrow[type='number'] {
  -moz-appearance: textfield;
}

.paper {
  background: #fff;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  /* Padding for demo purposes */
}
